<div id="one" [formGroup]="validateForm">
  <h3>Change Your Password</h3> <br>

  <input type="password" class="form-control" placeholder="New Password" aria-label="password"
    aria-describedby="basic-addon1" formControlName="password">
  <div id="validate" *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
    class="text-danger">
    Please
    input
    minimum 3 characters!</div>

  <input type="password" class="form-control" placeholder="Repeat Password" aria-label="rePassword"
    aria-describedby="basic-addon1" formControlName="rePassword">
  <div id="validate" *ngIf="validateForm.get('rePassword')?.dirty && validateForm.get('rePassword')?.errors"
    class="text-danger">
    Please
    repeat
    password </div>

  <button (click)="changePassword()" [disabled]="!validateForm.valid" style="margin-top: 10px; width: 30%;"
    type="button" class="btn btn-secondary">Change</button>
</div>