<div>
  <h3>Clinic Profile</h3>
  <input type="text" class="form-control" placeholder="First name" aria-label="First name"
    aria-describedby="basic-addon1">
  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
    aria-describedby="basic-addon1">
  <input type="text" class="form-control" placeholder="Country" aria-label="Country" aria-describedby="basic-addon1">
  <input type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
  <input type="text" class="form-control" placeholder="Social Security Number" aria-label="Social Security Number"
    aria-describedby="basic-addon1">
  <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
  <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number"
    aria-describedby="basic-addon1">
  <button style="margin-top: 10px; width: 30%;" type="button" class="btn btn-secondary">Save your changes</button>

</div>