<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.j2store.org/images/extensions/apps/apps_preview_image/change_password_preview.png" id="icon"
        alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="validateForm">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password"
        formControlName="password">
      <div *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors" class="text-danger">
        Please
        input
        minimum 3 characters!</div>
      <input type="text" id="rePassword" class="fadeIn third" name="rePassword" placeholder="rePassword"
        formControlName="rePassword">
      <div *ngIf="validateForm.get('rePassword')?.dirty && validateForm.get('rePassword')?.errors" class="text-danger">
        Please
        input
        minimum 3 characters!</div>
      <input (click)="submitForm()" [disabled]="!validateForm.valid" type="submit" class="fadeIn fourth"
        value="Change Password">
    </form>

  </div>
</div>