<div [formGroup]="validateForm">
  <h3>Create Doctor</h3>

  <span style="display:flex">
    <label>First Name:</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name"
      aria-describedby="basic-addon1" formControlName="firstName">
  </span>

  <span style="display:flex">
    <label>Last name:</label>
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
      aria-describedby="basic-addon1" formControlName="lastName">
  </span>

  <span style="display:flex">
    <label>Address:</label>
    <input type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1"
      formControlName="address">
  </span>

  <span style="display:flex">
    <label>Country:</label>
    <input type="text" class="form-control" placeholder="Country" aria-label="Country" aria-describedby="basic-addon1"
      formControlName="country">
  </span>

  <span style="display:flex">
    <label>City:</label>
    <input type="text" class="form-control" placeholder="City" aria-label="City" aria-describedby="basic-addon1"
      formControlName="city">
  </span>

  <span style="display:flex">
    <label>Security Number:</label>
    <input type="text" class="form-control" placeholder="Social Security Number" aria-label="Social Security Number"
      aria-describedby="basic-addon1" formControlName="ssn">
  </span>
  <span style="margin-left: 20%;" *ngIf="validateForm.get('ssn')?.dirty && validateForm.get('ssn')?.errors"
    class="text-danger">
    Please input only numbers(minimum 3)!</span>

  <span style="display:flex">
    <label>Email:</label>
    <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1"
      formControlName="email">
  </span>
  <span style="margin-left: 20%;" *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors"
    class="text-danger">
    Please
    input valid email!</span>

  <span style="display:flex">
    <label>Phone Number:</label>
    <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number"
      aria-describedby="basic-addon1" formControlName="phone">
  </span>
  <span style="margin-left: 20%;" *ngIf="validateForm.get('phone')?.dirty && validateForm.get('phone')?.errors"
    class="text-danger">
    Please input only numbers(minimum 3)!</span>

  <span style="display:flex">
    <label>Password:</label>
    <input type="password" class="form-control" placeholder="Password" aria-label="Password"
      aria-describedby="basic-addon1" formControlName="password">
  </span>

  <span style="display:flex">
    <label>Confrim password:</label>
    <input type="password" class="form-control" placeholder="Confrim password" aria-label="Confrim password"
      aria-describedby="basic-addon1" formControlName="rePassword">
  </span>

  <span style="display:flex">
    <label>Examination Type:</label>
    <select class="browser-default custom-select" style="width: 50%; height: 35px; margin-top: 10px;"
      formControlName="examinationTypeId">
      <option *ngFor="let item of listOfExaminationType" [value]="item.id">{{item.name}}</option>
    </select>
  </span>

  <span style="display:flex" class="md-form md-outline">
    <label>Start At:</label>
    <input style="width: 50%;" type="time" id="default-picker" class="form-control" placeholder="Select time"
      formControlName="time1">
  </span>

  <span style="display:flex" class="md-form md-outline">
    <label>End At:</label>
    <input style="width: 50%;" type="time" id="default-picker" class="form-control" placeholder="Select time"
      formControlName="time2">
  </span>

  <button (click)="backToListClinics()" style="margin-top: 10px; width: 30%;" type="button"
    class="btn btn-secondary">Back
    to list</button>

  <button (click)="createDoctor()" [disabled]="!validateForm.valid"
    style="margin-top: 10px; width: 30%;  margin-left: 20px;" type="button" class="btn btn-secondary">Create</button>
</div>